	body{
		background-color:#F0EFE4;
		margin:0px;
		padding:0px;
		height:100%;
		width:100%;
		line-height:130%;
	}
	#inegua_progressPane{
		width:100%;
		height:100%;
		background-color:#F0EFE4;
		z-index:5000;
		position:absolute;
		left:-3px;
		top:71px;
		
	}
	#inegua_progressBar_bg{
		position:absolute;
		left:50%;
		top:50%;
		width:300px;
		height:8px;
		border:2px solid #567300;
		background-color:#FFFFFF;
		margin-left:-150px;	
		margin-top:-20px;
		text-align:center;
	}
	#inegua_progressBar_outer{
		position:absolute;
		left:0px;
		top:0px;
		width:0px;	
		height:100%;
		overflow:hidden;	
	}

	#inegua_progressBar{
		position:absolute;
		left:0px;
		top:0px;
		width:300px;
		background-color:#666666;
		filter: Alpha(Opacity=0, FinishOpacity=100,Style=1,StartX=0, StartY=0, FinishX=200,FinishY=20) ;
		height:100%;
		z-index:5000;
	}
	#inegua_progressBar_txt{
		color:#000;
		z-index:10000;
		width:100%;
		height:80px;
		left:1px;
		top:-21px;
		position:absolute;		
		font-family:arial;
		font-size:10px;
		line-height:50px;
	}
